/* popup.css */
.popup {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  color: #333;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  transition: all 0.3s ease-in-out;
  text-align: center;
  width: 300px;
  font-family: 'Segoe UI', sans-serif;
}

.popup.show {
  visibility: visible;
  opacity: 1;
}

.popup.hide {
  animation: fadeOut 1s ease-in-out forwards;
  animation-delay: 2s;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -60%);
  }
}
